@using mvc_project.Models.ViewModels

@model mvc_project.Models.ViewModels.EjemploFacadeViewModel
@{
    ViewData["Title"] = "Ejemplo Facade";
}

<hr>
<h2>Datos de la casa</h2>
<p><strong>Cantidad de metros cuadrados: </strong>@Model.TotalSuperficieMetrosCuadrados</p>
<p><strong>Cantidad de ventanas: </strong>@Model.TotalVentanas</p>
<hr>