@{
    ViewData["Title"] = "Actividades";
}

<p>
    Actividades
</p>

<ol>
    <li>
        <a href="@Url.Content("~/Persona/FichaPersonal")">Ver ficha personal (ejemplo de construcción de una vista usando ViewModel)</a>
    </li>
    <li>
        <a href="@Url.Content("~/Persona/FichaPersonalTrabajo")">Ver ficha personal (ejemplo de herencia y polimorfismo)</a>
    </li>
    <li>
        <a href="@Url.Content("~/Persona/FichaPersonalTrabajo2")">Ver ficha personal 2 (ejemplo de composición y no herencia -inyección de dependencia-)</a>
    </li>
</ol>